.container
{
	width: 900px;
	background: #ff0000;
	margin: 0 auto;
	min-height: 700px;
}
.header
{
	width: 880px;
	background: #66a3d2;
	float: left;
	height: 80px;
	text-align: center;
	padding: 10px;
}
.menu 
{
	width: 880px;
	background: #ff00ff;
	border: none;
	float: left;
	min-height: 30px;
	padding: 10px;
}
.content 
{
	 width: 880px;
    background: #BFA1AD;
    min-height: 530px;
    border: none;
    float: left;
    padding: 10px;
}
.bottom 
{
	 width: 880px;
    background: #00ffff;
    min-height: 30px;
    border: none;
    float: left;
    padding: 10px;
}
.menu_text
{
	color: #033e6b;
	font-size: 20pt;
	text-decoration: underline;
	display: inline-block;
}
body
{
	background-image:url('/ems/images/back.png');
}