.container
{
	width: 70%;
	background: #ff0000;
	border: none;
	float: left;
	margin: 0 15% 0 15%;
	min-height: 700px;
}
.header
{
	width: 100%;
	background: #66a3d2;
	border: none;
	float: left;
	height: 100px;
	text-align: center;
}
.menu 
{
	width: 100%;
	background: #ff00ff;
	border: none;
	float: left;
	height: 50px;
}
.content 
{
	 width: 100%;
    background: #0000ff;
    min-height: 550px;
    border: none;
    float: left;
}
.bottom 
{
	 width: 100%;
    background: #00ffff;
    height: 50px;
    border: none;
    float: left;
}
.menu_text
{
	color: #033e6b;
	font-size: 20pt;
	text-decoration: underline;
	display: inline-block;
}