.header
{
	width: 70%;
	background: #66a3d2;
	padding-left : 20px;
	border: none;
	float: left;
	margin: 0 15% 0 15%;
}
.body 
{
    width: 70%;
    background: #ffffff;
    padding-left : 20px;
    padding: 10px;
    min-height: 700px;
    border: none;
    float: left;
    margin: 0 15% 0 15%;
}
.menu 
{
	width: 70%;
	background: #ffffff;
	padding-bottom : 10px; 
	padding-top: 10px;
	padding-left: 20px;
	border: none;
	float: left;
	margin: 0 15% 0 15%;
}
.menu_text
{
	color: #033e6b;
	font-size: 20pt;
	text-decoration: underline;
	display: inline-block;
}
body
{
	background-image:url('../images/back.png');
}